ion-title {
    text-align: center;
  }
ion-card {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 200px;
  border-radius: 25px;
  transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
}

ion-card:hover {
  box-shadow: white;
  transform: translateY(-10px);
}

ion-label {
  font-size: 22px;
}

#row1 {
  text-align: center;
  margin-top: 50px;
  
  font-size: 22px;
  font-weight: bold;
  
}

#row2 {
  text-align: center;
  font-size: 20px;
}