<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CARZEALOUS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated></ion-searchbar>
  <ion-list-header>
      <ion-label>Car Inventory</ion-label>
    </ion-list-header>
  <ion-list>
    <ion-item  *ngFor="let car of cars" [routerLink]="['/car-view/',car.id]" >
      <ion-label>{{car.year}} {{car.make}} {{car.model}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
