<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CARZEALOUS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="FilterCars($event)" animated></ion-searchbar>
  <ion-list-header>
      <ion-label>Car Inventory</ion-label>
    </ion-list-header>
    
      
  <ion-list>
    <ion-item  *ngFor="let car of cars"  >  
      <ion-card [routerLink]="['/car-view/', car.id]" >
        <ion-card-content>
          <!-- <ion-thumbnail slot="start">
            <img [src]="car.displayUrl"/>
          </ion-thumbnail> -->
      
      <p id="row1">{{car.make}} {{car.model}}</p>
      <p id="row2">{{car.year}}</p>
    
    </ion-card-content>
    </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<div class="footer-basic">
  <ion-footer>
    <ion-toolbar>
      <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
    
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#">About</a></li>
      </ul>
      <p class="copyright">YOUNGSTAR © 2020</p>
    </ion-toolbar> 
  </ion-footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


