<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" contentId="main-content" type="overlay">
        <ion-header>
          <ion-toolbar>
            <ion-title></ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-menu-toggle auto-hide="false">
              <ion-item [routerLink]="['']" routerDirection="root"> 
                <ion-icon slot="start" name="home"></ion-icon>
                <ion-label>
                  Home
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item [routerLink]="['/inventory']" routerDirection="root">
                <ion-icon slot="start" name="car-sport"></ion-icon>
                <ion-label>
                  Inventory
                </ion-label>
                <ion-badge color="primary" slot="end">{{totalCars()}}</ion-badge>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item [routerLink]="['/versuz']" routerDirection="root"> 
                <ion-icon slot="start" name="speedometer"></ion-icon>
                <ion-label>
                  Versuz
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item [routerLink]="['/contact']" routerDirection="root"> 
                <ion-icon slot="start" name="mail"></ion-icon>
                <ion-label>
                  Contact Me
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
        </ion-menu>
        

    
    <ion-router-outlet id="main-content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>