<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" contentId="main-content" type="overlay">
        <ion-header>
          <ion-toolbar>
            <ion-title></ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-menu-toggle auto-hide="false">
              <ion-item [routerLink]="['']" routerDirection="root"> 
                <ion-icon slot="start" name="home-outline"></ion-icon>
                <ion-label>
                  Home
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item [routerLink]="['/inventory']" routerDirection="root">
                <ion-icon slot="start" name="car-sport-outline"></ion-icon>
                <ion-label>
                  Inventory
                </ion-label>
                <ion-badge color="danger" slot="end">{{totalCars()}}</ion-badge>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item [routerLink]="['/versuz']" routerDirection="root"> 
                <ion-icon slot="start" name="speedometer-outline"></ion-icon>
                <ion-label>
                  Versuz
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>

    </ion-menu>
    <ion-router-outlet id="main-content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>