<!-- <ion-split-pane contentId="main-content"> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CARZEALOUS</ion-title>
  </ion-toolbar>
</ion-header>
<!-- 
<ion-content>
  <ion-list>
    <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
      <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url" >
        {{p.title}}
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>
</ion-split-pane> -->

<!-- <ion-router-outlet id="content" main></ion-router-outlet> -->



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CARZEALOUS</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-content fullscreen scroll-y="false">
      <ion-slides [options]="slideOpts">

        <ion-slide class="textOverlay">  
          <img src="../assets/home-slides/supra mrk5.jpg"/>
          <!-- <h3 class="slideText">Welcome To CARZEALOUS</h3> -->
        </ion-slide>

        <ion-slide>
          <img src="../assets/home-slides/p1.jpg"/>
          <!-- <h3 class="slideText">This Is For All You Car Enthusiast</h3> -->
          
        </ion-slide>

        <ion-slide>
          <img src="../assets/home-slides/carheaven.jpg"/>      
        </ion-slide>

        <ion-slide>
          <img src="../assets/home-slides/bmw m4.jpg"/>
        </ion-slide>

        <ion-slide>
          <img src="../assets/home-slides/blue lambo.jpg"/>
        </ion-slide>

      </ion-slides>
    </ion-content>
 
</ion-content>
<!-- <strong>Welcome To CARZEALOUS</strong>
<p>Start Your Car Enthusiastic Dream Here</p> -->
