#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.active-item {
  border-left: 8px solid var(--ion-color-primary);
}

ion-title{
  text-align: center;
}

.container {
position: relative;
text-align: center;
color: darkgray;

  }

  img {
    position: relative;
    // display: block;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    min-width: 900px;
    max-width: 900px;
    max-height: 500px;
    // height: 100%;
    // margin-bottom: auto;
  }
//   ion-slides {
//     justify-content: center;
//     align-items: center;
//   }
//   .textOverlay {
//   	position: relative;
//   	margin-left: auto;
//   	margin-right: auto;
// }
.slideText {
  position: absolute;
  top: 450px;
  left: 380px;
color: white;
text-align: center;
background-color: black;
}

#intro {
  text-align: center;;
  margin-top: 40px;
}


// .footer-basic {
//   padding:20px 0;
// background-color: --ion-background-color;
//   color:#4b4c4d;
// }